.page-footer {
  min-height: 100px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.5%;
    padding-top: 40px;
    padding-bottom: 15px;

    border-bottom: 1px solid $dim-color;
  }

  &__home-link {
    display: inline-block;
    vertical-align: middle;
  }

  &__logo {
    width: calc(68px + 5vw);
  }

  &__bottom {
    padding: 18px 4.5%;
  }

  &__flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__payment-methods {
    display: flex;
    width: 140px;
    height: 40px;
    padding: 0;

    font-size: 0;
  }

  &__payment-method {
    width: 33%;

    background-image: url("../images/icons-sprite.png");
    background-position-y: 0;
    background-repeat: no-repeat;

    &.mastercard {
      background-position: -7px 2px;
    }

    &.visa {
      background-position-x: -103px;
    }

    &.paypal {
      background-position-x: -49px;
    }
  }

  &__set-language {
    position: relative;

    padding-right: 18px;

    background: none;
    border: none;

    cursor: pointer;

    &--tablet {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      right: 3px;

      width: 9px;
      height: 9px;

      border-right: 2px solid $lightgray-color;
      border-bottom: 2px solid $lightgray-color;
      border-radius: 1px;

      transform: rotate(45deg);
    }

    &:hover::before {
      border-color: $link-color-hover;
    }
  }

  &__support {
    margin-bottom: 7px;

    text-align: center;
    font-size: 14px;
    color: $dim-color;
  }

  &__copyright {
    margin: 0;

    text-align: center;
    font-size: 14px;
    color: $dim-color;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {

    &__top {
      align-items: flex-start;
      margin-bottom: 21px;

      border-bottom: none;
    }

    &__home-link {
      margin-right: auto;
      margin-left: 36px;
    }

    &__set-language {
      &--mobile {
        display: none;
      }

      &--tablet {
        display: block;
        margin-right: 20px;
        margin-left: 20px;
      }
    }

    &__bottom {
      display: flex;
      padding-top: 2px;
      padding-bottom: 22px;

      background-color: #faf9f8;
    }

    &__payment-methods {
      width: 170px;
      height: 53px;
      margin-left: 34px;
    }

    &__payment-method {
      height: 45px;

      background-size: cover;
    }

    &__payment-method.visa {
      background-position-x: -119px;
    }

    &__payment-method.paypal {
      background-position-x: -54px;
    }

    &__info {
      margin-left: auto;
    }

    &__support {
      margin-top: 0;

      text-align: right;
    }

    &__copyright {
      text-align: right;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer {

    &__top {
      padding-top: 48px;
    }

    &__info {
      margin-left: 19%;
    }

    &__support,
    &__copyright {
      text-align: center;
    }
  }
}

