.photographs {
  padding-top: 22px;

  &__title {
    margin-bottom: 31px;
    padding: 0 20px;
  }

  &__slider {
    position: relative;

    width: 100%;
    height: 58vw;

    border-radius: 2%;

    overflow: hidden;
  }

  &__btn {
    position: absolute;
    top: 23vw;
    z-index: 10;

    display: block;
    width: 8vw;
    height: 15vw;
    padding: 0;

    font-size: 0;

    background: none;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 40%;

    &--previous {
      left: 0;

      &::before {
        transform: translate(-30%, -50%) rotate(45deg);
      }
    }

    &--next {
      right: 0;

      &::before {
        transform: translate(-60%, -50%) rotate(-135deg);
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 12px;
      height: 12px;

      border-left: 3px solid #666666;
      border-bottom: 3px solid #666666;
    }
  }

  &__slide {
    position: absolute;
    top: -55px;
    left: 0;

    width: 100%;
    height: auto;

    &--4 {
      z-index: 2;
    }
  }

  &__show-all {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .photographs {
    padding-top: 0;

    text-align: center;

    &__btn {
      display: none;
    }

    &__title {
      margin-bottom: 40px;
      padding: 0;

      line-height: 1;

      &::after {
        content: ":";
      }
    }

    &__slider {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;
      height: auto;
      padding-bottom: 25px;

      border-bottom: 1px solid $lightgray-color;
      border-radius: 0;
    }

    &__slide {
      position: static;

      display: block;
      flex-shrink: 0;
      width: 275px;
      height: 185px;
      margin-right: 10px;
      margin-bottom: 10px;

      object-fit: cover;
    }

    &__show-all {
      position: relative;

      display: block;
      flex-shrink: 0;
      margin: 0 300px;
      margin-top: 37px;
      padding: 0 20px;
      padding-right: 42px;

      font-weight: 500;
      font-size: 17px;
      color: $link-color;

      background: none;
      border: none;

      &:hover::before,
      &:hover::after,
      &:focus::before,
      &:focus::after {
        border-color: currentColor;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 4px;

        width: 9px;
        height: 9px;

        border-right: 2px solid $lightgray-color;
        border-bottom: 2px solid $lightgray-color;
        border-radius: 1px;

        transform: rotate(45deg);
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 20px;
      }

      &:hover,
      &:focus {
        color: $link-color-hover;

        outline: none;

        cursor: pointer;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .photographs {
    &__container {
      padding-right: 0;
    }

    &__title {
      margin-top: 0;
    }
  }
}
