.photographer {
  position: relative;

  margin-top: 50px;

  &__card {
    position: relative;

    text-align: center;
    line-height: 22px;
  }

  &__heart-symbol {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__photo {
    margin-top: 13px;

    border-radius: 50%;
  }

  &__name {
    margin-top: 16px;
    margin-bottom: 0;

    font-weight: 500;
    font-size: 18px;
  }

  &__subtitle {
    margin: 6px 0;
    font-size: 14px;
  }

  &__more-info {
    font-size: 14px;
    color: $link-color;
    text-decoration: none;

    &:hover {
      color: $link-color-hover;
    }
  }

  &__heading {
    margin-top: 18px;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 18px;
  }

  &__text {
    margin-top: 12px;
  }

  &__text + p {
    margin-top: 26px;
  }

  &__read-more {
    position: relative;

    width: 120px;
    height: 19px;
    margin-bottom: 12px;
    padding: 0;
    padding-right: 20px;

    text-align: left;
    font-weight: 500;
    color: $link-color;

    background: none;
    border: none;

    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      right: 3px;

      width: 9px;
      height: 9px;

      border-right: 2px solid $lightgray-color;
      border-bottom: 2px solid $lightgray-color;
      border-radius: 1px;

      transform: rotate(45deg);
    }

    &:hover {
      color: $link-color-hover;
    }
  }
}

@media (min-width: $tablet-width) {
  .photographer {
    margin-top: 16px;

    &__container {
      display: flex;
      justify-content: space-between;
    }

    &__card {
      order: 1;

      width: 25%;
      margin-top: 40px;
      margin-right: 9%;
    }

    &__about {
      width: 52%;
    }

    &__text {
      margin-bottom: 5px;
    }

    &__read-more {
      margin-bottom: 20px;
    }
  }
}
