.review {
  font-size: 14px;

  & + article {
    margin-top: 30px;
  }

  &--unvisible {
    display: none;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
  }

  &__author-photo {
    border-radius: 50%;
  }

  &__info {
    margin-left: 18px;
  }

  &__author-name {
    margin: 0;
    margin-top: 5px;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  &__author-profession {
    margin: 0;
    margin-top: 5px;
  }

  &__rating {
    padding-top: 7px;
  }

  &__main {
    padding-top: 10px;
  }

  &__recommend-mark {
    position: relative;

    margin: 0;
    margin-top: 24px;
    padding-left: 20px;

    color: $dim-color;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 16px;
      height: 10px;

      border-bottom: 3px solid #6aad4a;
      border-left: 3px solid #6aad4a;

      transform: skewX(-10deg) rotate(-55deg);
    }
  }

  &__text {
    margin-top: 4px;
    margin-bottom: 18px;
  }

  &__footer {
    min-height: 59px;
    border-bottom: 1px solid $lightgray-color;
  }

  &__date {
    color: $dim-color;
  }
}

@media (min-width: $tablet-width) {
  .review {
    &--unvisible {
      display: block;
    }

    &__author-photo {
      width: 101px;
      height: 101px;
    }

    &__author-name {
      margin-top: 10px;

      font-size: 18px;
    }

    &__author-profession {
      margin-top: 10px;
    }

    &__rating {
      margin-top: 5px;
    }

    &__recommend-mark {
      align-self: flex-end;
      margin-bottom: 7px;
    }

    &__main {
      width: 510px;
      margin-left: 120px;

      font-size: 16px;
    }

    &__text {
      margin-bottom: 14px;
    }

    &__plus-line {
      display: none;
    }

    &__footer {
      width: 510px;
      min-height: 51px;
      margin-left: 120px;
    }
  }
}
