.reviews {
  padding-top: 16px;

  &__review {
    margin-top: 48px;
  }

  &__show-all {
    position: relative;

    display: block;
    margin: 40px auto;
    padding: 0;
    padding-right: 20px;

    font-weight: 500;
    font-size: 17px;
    color: $link-color;

    background: none;
    border: none;

    cursor: pointer;

    &:hover {
      color: $link-color-hover;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 6px;
      right: 4px;

      width: 9px;
      height: 9px;

      border-right: 2px solid $lightgray-color;
      border-bottom: 2px solid $lightgray-color;
      border-radius: 1px;

      transform: rotate(-45deg);
    }

    &::after {
      display: none;
    }

    &:hover::before {
      border-color: currentColor;
    }
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 25px;
    padding-bottom: 8px;

    .section-title::after {
      content: ":";
    }

    &__show-all {
      padding-left: 20px;

      &::before,
      &::after {
        top: 2px;

        transform: rotate(45deg);
      }

      &::after {
        left: 4px;
        display: block;
      }

      &:hover::after {
        border-color: currentColor;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .reviews.hidden {
    padding-top: 105px;
  }
}
