.schedule {
  display: table;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 45px;

  font-size: 18px;
  line-height: 26px;

  border-collapse: collapse;
  border: 1px solid $lightgray-color;

  &__row + .schedule__row {
    border-top: 1px solid $lightgray-color;
  }

  &__cell {
    padding: 27px 20px;
  }

  &__cell p + p {
    margin: 0;
    margin-top: 7px;
  }

  &__header {
    padding-top: 18px;
    padding-bottom: 14px;

    text-align: center;
  }

  &__choose-date {
    display: none; // Is used in another block on mobile version
    width: 35px;
    height: 35px;
    margin-right: auto;
    margin-left: 19px;

    font-size: 0;

    background: none;
    border: 1px solid #c4c4c4;
    border-radius: 3px;

    svg {
      filter: grayscale(1);
    }

    &:hover svg {
      filter: none;
    }

    &:hover,
    &:active,
    &:focus {
      border-color: $accent-color;
      outline: none;

      cursor: pointer;
    }
  }

  &__header p {
    margin: 0;
  }

  &__time {
    margin: 0;
  }

  &__price {
    font-weight: 600;
  }

  &__choose {
    margin-top: 20px;
    padding: 16px 30px;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $accent-color;

    background: none;
    border: 2px solid $accent-color;
    border-radius: 3px;

    cursor: pointer;

    &:hover {
      color: $bright-color;

      background-color: $accent-color;
    }
  }

  &__footer {
    padding-bottom: 9px;
    padding-left: 15px;
  }

  &__good-comments {
    padding-top: 0;

    font-size: 13px;

    border: none;
  }

  &__good-comments .good-comments__right-column {
    margin-left: 8px;
  }
}

@media (min-width: $tablet-width) {
  .schedule {
    width: 68%;
    margin-bottom: 82px;
    margin-left: 0;

    &__cell {
      display: flex;
      justify-content: space-between;
      padding: 19px 27px;

      text-align: left;
    }

    &__header {
      display: flex;
      align-items: center;
      padding: 27px;
      padding-top: 23px;
      padding-bottom: 14px;

      text-align: left;
    }

    &__choose-date {
      display: block;
    }

    &__price {
      font-size: 0;

      &::before {
        content: "1500Р";

        font-size: 18px;
      }
    }

    &__choose {
      height: 50px;
    }

    p.schedule__places {
      margin-top: 0;
    }

    &__footer {
      padding-top: 32px;
      padding-bottom: 29px;

      box-shadow: 0 -1px 0 #ffffff; // Deletes border-top
    }

    &__good-comments {
      font-size: 18px;
    }
  }
}
