@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat"),
    url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat"),
    url("../fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

body {
  min-width: $mobile-width;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  font-family: $standart-font;
  color: $main-text-color;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .photographs__slide {
    width: 250px;
  }

  .reservation {
    min-height: 900px;
  }
}
