// Media-breakpoints

$mobile-width: 320px;
$tablet-width: 750px;
$desktop-width: 1170px;

// Colors

$main-text-color: #37373f;
$link-color: #5286ec;
$link-color-hover: #e47300;
$bright-color: #ffffff;
$accent-color: #fc9b09;
$dim-color: #b3b3b3;
$lightgray-color: #c7c7c7;

// Fonts

$standart-font: "Montserrat", "Arial", sans-serif;
